# Virtual Environment
venv/
.venv/

# Python bytecode & cache
__pycache__/
*.py[cod]

# OS & IDE metadata
.DS_Store
.idea/
.vscode/

# Large binary model weights (Auto-downloaded via 01_download_models.py)
models/*.weights
models/*.caffemodel
